/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles for the main content */
main {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}
@media print {
  main {
    width: 210mm;
    height: 297mm;
  }
}
main h1,
main h3 {
  margin-bottom: 10px;
}
main p {
  margin-bottom: 10px;
}

header {
  width: 100%;
  margin-bottom: 5px;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

.mainMenu,
.invoiceMenu {
  display: flex;
}
.mainMenu button,
.invoiceMenu button {
  background-color: transparent; /* Remove default background */
  color: inherit; /* Inherit text color */
  border: none; /* Remove border */
  cursor: pointer; /* Make the button behave like a link */
  text-decoration: none; /* Remove underline */
  font-family: "Arial", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.mainMenu li,
.invoiceMenu li {
  width: 50%;
  height: 50px;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.mainMenu li a,
.invoiceMenu li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.mainMenu li:nth-child(1),
.invoiceMenu li:nth-child(1) {
  border-right: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Invoice details container */
[data-invoice-container] {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 20px;
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
[data-invoice-container] [data-invoice-details-container] {
  text-align: center;
  padding-bottom: 10px;
}

/* Seller & Buyer details */
[data-invoice-seller-buyer-container] {
  display: flex;
  justify-content: space-between;
}
[data-invoice-seller-buyer-container] div[data-invoice-seller-details] {
  padding-right: 20px;
}
[data-invoice-seller-buyer-container] div[data-invoice-seller-details],
[data-invoice-seller-buyer-container] div[data-invoice-buyer-details] {
  flex: 1;
  margin-right: 20px;
}
[data-invoice-seller-buyer-container] div[data-invoice-seller-details] h3,
[data-invoice-seller-buyer-container] div[data-invoice-buyer-details] h3 {
  margin-bottom: 10px;
}
[data-invoice-seller-buyer-container] div[data-invoice-seller-details] {
  border-right: 1px solid #ddd;
}

/* Table styles */
[data-product-table-container] {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
[data-product-table-container] th,
[data-product-table-container] td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: left;
}
[data-product-table-container] th {
  background-color: #f4f4f4;
  font-weight: bold;
}
[data-product-table-container] td {
  text-align: center;
}

/* Totals and summary */
[data-total-numbers-container] {
  margin-top: 20px;
}
[data-total-numbers-container] p {
  display: flex;
  align-items: center;
}
[data-total-numbers-container] p span {
  margin-left: 10px;
  margin-bottom: 3px;
}

/* Signature container */
[data-signature-container] {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
[data-signature-container] div {
  width: 45%;
  text-align: left;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  [data-invoice-seller-buyer-container] {
    flex-direction: column;
  }
  .signature_container {
    flex-direction: column;
  }
}
